<script type="text/template" id="tour-offer-template">
		<header class="section-header desktop">
			<h2 class="h3"><i class="fa <%= currencyClass %>"></i><%= availableOffersText %></h2>
		</header>

		<div class="section-content padded" id="earlyBookingBonus" style="display: none"></div>

		<div id="additionalOffersSection" class="section-content padded" style="display: none">
			<div class="row">
				<div id="hotDealsSection"></div>
				<div id="seasonalOffersSection"></div>
			</div>
		</div>
</script>