<script type="text/template" id="in-tour-transfer-template">
	<label>
		<div class="input_col checkbox">
			<input data-id="<%= id %>" type="checkbox" class="packageUpgrade_checkbox">
		</div>
		<div class="input_col description_col tourOptionDescription">
			<div><%= serviceType.name %> : <%= contractName %></div>
			<p><%= description %></p>
		</div>
	</label>

    <div class="input_col price_col"><%= currencySymbol %> <%= price %></div>
    <div class="input_col persons_col">
        <div class="travelerCheckBoxes">
        </div>
    </div>

</script>