<script id="optionals-view-template" type="text/template">
	<header class="section-header">
		<h4 class="section-title"><i class="fa fa-globe"></i> Optional Tours</h4>
	</header>
	<div class="panel-group accordion">
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title">Avignon</h4>
			</div>
			<div class="panel-collapse">
				<div class="padded">
					<span class="price-badge pull-right">$120pp</span>
					<h4>Flavors of Provence</h4>
					<p>Delve into the sights, smells, and tastes that make Provence a culinary dream. Your tour starts with you meeting your local chef. Consider him your food Sherpa during the entirety of the day’s journey. Together you’ll head to the heart of Provence for some truffle hunting, complete with truffle pigs and dogs. Your spoils of the hunt are then cleaned and shaved into a pan with eggs and, if you’d like, sausage. Then it’s off to a goat farm, where you’ll get a chance to milk the goat, watch the cheese making process, and, of course, taste this local delicacy. Your afternoon comes to a close at an organic, free range Foie Gras farm. Learn about the traditions of this ancient food, and become a master of all things duck. After today’s journey, your taste buds will never be the same. Duration approximately 6 hour(s). Transportation is included.  A minimum of 6 passenger(s) is required to operate this option. </p>
					<p>Due to schedule changes and availability, the operation of this optional excursion time may need to be changed or cancelled either before or after your tour departure date. This option must be purchased and reserved up to 48 hours prior to your tour departure date. Upon purchasing, this option will be non refundable.</p>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title">Toulouse</h4>
			</div>
			<div class="panel-collapse">
				<div class="padded">
					<span class="price-badge pull-right">$65pp</span>
					<h4>Artists and Industry of France</h4>
					<p>Travel north from Toulouse to the quaint, riverside village of Albi. Your tour begins with a visit to the museum dedicated to one of the most famous French artists, Henri Toulouse-Lautrec. Learn about his life and his celebrated Moulin Rouge paintings. Next set out on a guided walking tour. The stage is set for a day to remember with the UNESCO World Heritage “Saint Cecile Cathedral” perched above the Tarn River, while the medieval buildings complete the picture. After free time for lunch, it’s back to Toulouse to visit the Airbus facility, maker of the world’s largest commercial aircraft. You’ll see the A380 production line first hand and learn from an expert all about Boeing’s only main competitor. Duration approximately 8 hour(s). Transportation is included.  A minimum of 10 passenger(s) is required to operate this option. </p>
					<p>Due to schedule changes and availability, the operation of this optional excursion time may need to be changed or cancelled either before or after your tour departure date. Due to reservation requirements for the Airbus Tour, this option must be purchased and reserved no later than 60 days prior departure date. Upon purchasing, this option will be non refundable.</p>
				</div>
			</div>
		</div>
	</div>

</script>