<script type="text/template" id="traveler-template">

    <div id="" class="header t<%= travelerNumber()+1 %>">
        <a href="#" class="arrow_down <%= closedClass() %>" title="View Route Details"><%= travelerText %> # <%= travelerNumber() + 1 %>: <%= firstName %></a>
    </div>
    <div id="<%= id %>" class="traveler_info">
        <div class="notice">
            <span><%=noticeText %></span>
            <%= yourPersonalText %>
        </div>
        <% if(wasInitialized()){ %>
        <div class="pad">
            <div class="input_row inline">
                <label><input id="chkDontUseCurrent" name="dont_use_current_data" type="checkbox"  <%= dontUseChecked() %> /> <%= dontUseCurrent %></label>
            </div>
        </div>
        <% } %>
        <div class="subheader clearfix">
            <div class="left_col">
                <%= personalInfoText %>
            </div>
            <div>
                <span class="redstar">*</span> <%= requiredText %>
            </div>
        </div>
        <div class="contact_info0 pad">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <label><%= loyaltyNumberText %></label>
                    <input name="loyaltyNumber" type="text" value="<%= getLoyaltyNumber() %>" class="form-control travelerInput">
                </div>
            </div>
            <% if (showSalutationField) { %>
            <div class="row">
                <div class="form-group col-xxs-12 col-xs-6 col-md-3">
                    <label><%= salutationText %></label>
                    <select name="salutation" class="salutationDropDown travelerInput">
                    </select>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="form-group col-xxs-12 col-xs-6 col-md-3">
                    <label id="lblFirstName"><%= firstNameText %></label>
                    <input name="firstName" type="text" class="form-control travelerInput req">
                    <span class="firstName errorText"></span>
                </div>
                <div class="form-group col-xxs-12 col-xs-6 col-md-3 ">
                    <label><%= middleInitialText %></label>
                    <input name="middleInitial" type="text" value="<%= middleInitial %>" class="form-control travelerInput nonreq">
                    <span class="middleInitial errorText"></span>
                </div>
                <div class="form-group col-xxs-12 col-xs-6 col-md-3">
                    <label id="lblLastName"><%= lastNameText %></label>
                    <input name="lastName" type="text" class="form-control travelerInput req">
                    <span class="lastName errorText"></span>
                </div>
                <div class="form-group col-xxs-12 col-xs-6 col-md-3">
                    <label><%= suffixText %></label>
                    <select name="suffix" class="suffixDropDown travelerInput">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xxs-12 col-xs-5 col-sm-6 col-md-3">
                    <label id="lblGender"><%= genderText %></label>
                    <select name="gender" class="genderDropDown travelerInput req"></select>
                    <span class="gender errorText" data-message="<%= genderMessage %>"></span>
                </div>
                <div class="form-group col-xxs-12 col-xs-7 col-sm-6 col-md-5 col-lg-4">
                    <label id="lblDOB"><%= dateOfBirthText %></label>
                    <div class="row">
                        <% if(UKDateFormat()){ %>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput" data-position="1" name="day" value="<%= day %>" placeholder="<%= dayText %>" maxlength="2" type="text" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput" data-position="2" name="month" value="<%= month %>" placeholder="<%= monthText %>" maxlength="2" type="text" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput" data-position="3" name="year" value="<%= year %>" placeholder="<%= yearText %>" maxlength="4" type="text" />
                        </div>
                        <% } else { %>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput req monthInput" data-position="1" name="month" value="<%= month %>" placeholder="<%= monthText %>" maxlength="2" type="text" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput req" data-position="2" name="day" value="<%= day %>" placeholder="<%= dayText %>" maxlength="2" type="text" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control travelerInput req" data-position="3" name="year" value="<%= year %>" placeholder="<%= yearText %>" maxlength="4" type="text" />
                        </div>
                        <% } %>
                    </div>
                    <small class="helper_text"><%= dateHelperText %></small>
                </div>
                <div class="form-group col-xxs-12 col-xs-7 col-sm-6 col-md-5 col-lg-4" style="padding:unset">
                    <span class="day errorText"></span>
                    <span class="month errorText"></span>
                    <span class="year errorText"></span>
                </div>
            </div>

        <!-- Regions set for different views -->
        <div id="contactInfoRegion">
        </div>

        <div id="additionalInfoRegion">
        </div>

        <div class="travelerErrorMessages pad"></div>

        <div class="pad">
            <% if((travelerNumber() + 1) != numberOfTravelers){ %>
            <a href="#" class="btn btn-primary next_traveler" data-next="t<%= travelerNumber() + 2 %>"><%= nextTraveler %></a>
            <% } %>
        </div>
    </div><!-- /traveler_info -->
</script>


<style>
    #contactInfoRegion {
        margin-bottom: -100px;
    }
</style>