<script id="contacts-table-template" type="text/template">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th><%= firstName %></th>
                <th><%= lastName %></th>
                <th class="non-mobile"><%= middleName %></th>
                <th class="non-mobile"><%= phone %></th>
                <th><%= email %></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
</script>