<div id="tcr-itinerary-timeline">
    <div class="marker">
        <a href="#"
           data-bind="attr: { id: itineraryId, 'data-date': itineraryDay, 'data-extension-type': extensionType }, class: extensionStyleClass, style: { left: expandWidth }">
        </a>
        <div class="tcr-summary-point" data-bind="style: { left: expandWidth }">
            <span class="pre-item" data-bind='text: dayTitle'></span>
            <span class="post-item" data-bind='text: destinationTile, title: destinationTile'></span>
        </div>
    </div>
</div>