<div id="tour_detail_highlights_modal"
     class="tour-detail-hero activity-level-modal modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-inner">
        <h5></h5>
        <div class="close-button-wrap">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><span aria-hidden="true">X</span></button>
        </div>
        <div class="blue-divider"></div>
        <div class="modal-content"></div>
    </div>
</div>
