	<script type="text/template" id="tour-upgrades-layout-template">
        <div class="pad text">
            <b><%= upgradeTypeText() %> <%= upgradeText %></b>
            <div class="booking_engine_room_upgrade"></div>
            <p><%= descriptionText() %></p>
        </div>

    <div class="booking customizations bookingUpgrades">
        <div class="input_row">
            <div class="input_col checkbox"></div>
            <div class="input_col description_col"><label><%= description %></label></div>
            <div class="input_col rooms_col"><label><%= roomsText %></label></div>
            <div class="input_col price_col"><label><%= priceText %></label></div>
            <div class="input_col nights_col"><label><%= nightsText %></label></div>
        </div>
        <div class="upgrades">

        </div>
    </div>

</script>